@page "/inventory"
@inject HttpClient Http
@using System.Security.Claims
@using Client.Services.Inventory
@using Microsoft.AspNetCore.Components.Authorization
@using StudHub.SharedDTO
@using StudHub.SharedDTO.Inventory
@using StudHub.SharedDTO.Lager
@inject IInventoryClientService InventoryClientService

<div class="inventory-container d-flex">
    <div class="inventory-list-pane">

        <h3>Storage overview (Page @currentPage of @totalPages)</h3>

        <!-- https://dev.to/rijwanansari/creating-a-reusable-dynamic-pagination-component-in-blazor-3hgb -->
        @if (items != null && items.TotalPages > 1)
        {
            <div class="d-flex justify-content-between align-items-center mt-3">
                <button class="btn btn-primary mt-3"
                        disabled="@(currentPage == 1)"
                        @onclick="() => ChangePage(currentPage - 1)">
                    Previous
                </button>
                <span>Page @currentPage of @totalPages (@items.TotalCount lots in total)</span>
                <button class="btn btn-primary mt-3"
                        disabled="@(currentPage == totalPages)"
                        @onclick="() => ChangePage(currentPage + 1)">
                    Next
                </button>
            </div>
        }
        <div>
            <h4>Search and filter</h4>
            <div class="d-flex align-items-end mb-2">
                <div class="me-2 flex-grow-1">
                    <SearchBox Type="text" Label="name / part id / remarks etc."
                               Placeholder="search..."
                               @bind-SearchText="searchText"
                               OnSearchChanged="ApplyFilter"/>
                </div>
                <button class="btn btn-primary mt-3" @onclick="ClearFilter">
                    Clear
                </button>
            </div>

            <FilterDropDown Title="Color" AllText="All Colors"
                            Items="brickLinkColors"
                            SelectedValue="@selectedColor"
                            OnItemSelected="ApplyColorFilter"/>
            <FilterDropDown Title="Item Type" AllText="All Item Types"
                            Items="itemTypes"
                            SelectedValue="@selectedItemType"
                            OnItemSelected="ApplyItemTypeFilter"/>

        </div>
        <hr/>

        @if (items == null)
        {
            <p>Henter lager...</p>
        }
        else if (!items.Items.Any())
        {
            <p>No items found.</p>
        }
        else
        {
            <div class="table-responsive-lg mt-3">
                <InventoryTable Items="items.Items"
                                SelectedItem="selectedItem"
                                OnItemSelected="SelectItem"/>
            </div>
        }

        <!-- https://dev.to/rijwanansari/creating-a-reusable-dynamic-pagination-component-in-blazor-3hgb -->
        @if (items != null && items.TotalPages > 1)
        {
            <div
                class="d-flex justify-content-between align-items-center mt-3">
                <button class="btn btn-primary mt-3"
                        disabled="@(currentPage == 1)"
                        @onclick="() => ChangePage(currentPage - 1)">
                    Previous
                </button>
                <span>Page @currentPage of @totalPages (@items.TotalCount lots in total)</span>
                <button class="btn btn-primary mt-3"
                        disabled="@(currentPage == totalPages)"
                        @onclick="() => ChangePage(currentPage + 1)">
                    Next
                </button>
            </div>
        }
    </div>

    <div
        class="inventory-details-pane @(selectedItem == null ? "d-none d-lg-flex" : "")">
        @if (selectedItem != null)
        {
            <div class="inventory-details-card">
                <h4><b>Details for:</b> <br/> @selectedItem.Item.Name
                </h4>
                <pre
                    style="max-height: 400px; overflow-y: auto;">@System.Text.Json.JsonSerializer.Serialize(selectedItem, new System.Text.Json.JsonSerializerOptions { WriteIndented = true })</pre>
            </div>
        }
        else if (items?.Items.Any() == true)
        {
            <p>Select a row to view details.</p>
        }
    </div>
</div>

@code {
    private PagedResultDTO<BrickLinkInventoryDTO>? items;
    private BrickLinkInventoryDTO? selectedItem;

    private int currentPage = 1;
    private int pageSize = 25; // default
    private int totalPages => items?.TotalPages == 0 && (items?.TotalCount == 0 || items == null) ? 1 : items?.TotalPages ?? 1;
    private long? studUserId;

    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    private string? searchText;

    private PagedResultDTO<BrickLinkInventoryDTO>? filteredItems = new PagedResultDTO<BrickLinkInventoryDTO>();


    private string? selectedColor;

    private string? selectedItemType;

    private readonly List<string> brickLinkColors = BrickLinkColorData.GetNames();

    private readonly List<string> itemTypes = new List<string>
    {
        "MINIFIG", "PART", "SET", "BOOK", "GEAR", "CATALOG", "INSTRUCTION", "UNSORTED_LOT", "ORIGINAL_BOX"
    };

    protected override async Task OnInitializedAsync()
    {
        var authState = await State;
        var studUserIdClaim = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);

        if (long.TryParse(studUserIdClaim, out long id))
        {
            studUserId = id;
            Console.WriteLine(studUserId);
            await LoadInventory();
        }
        else
        {
            items = new PagedResultDTO<BrickLinkInventoryDTO>();
            filteredItems = items;
        }
    }

    private async Task LoadInventory()
    {
        if (studUserId.HasValue)
        {
            selectedItem = null;

            items = await InventoryClientService.GetUserBrickLinkInventoryFromDatabaseAsync(
                studUserId.Value, currentPage, pageSize, searchText, selectedColor, selectedItemType);
        }
    }

    private void SelectItem(BrickLinkInventoryDTO item)
    {
        selectedItem = item;
    }

    private async Task ChangePage(int newPage)
    {
        if (newPage >= 1 && newPage <= totalPages)
        {
            currentPage = newPage;
            await LoadInventory();
        }
    }

    private async Task ApplyFilter(string newSearchText)
    {
        searchText = newSearchText;
        currentPage = 1;
        await LoadInventory();
    }

    private async Task ApplyColorFilter(string? color)
    {
        selectedColor = color;
        currentPage = 1;
        await LoadInventory();
    }

    private async Task ApplyItemTypeFilter(string? itemType)
    {
        selectedItemType = itemType;
        currentPage = 1;
        await LoadInventory();
    }

    private async Task ClearFilter()
    {
        searchText = String.Empty;
        selectedColor = null;
        selectedItemType = null;
        currentPage = 1;
        await LoadInventory();
    }

}